*
{
    margin: 0px;
    padding: 0px;
}
html
{
    background-image: url("skamath-HD-Wallpapers1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#video
{
	position:absolute;
	left:30%;
	top:20%;
}
header
{
	width : 80%;
    background-color: black;
    color: white;
    top:50px;
    left: 150px;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
}
.UserDetails
{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 31%;
    outline: none;	
}
label
{
    color:white;
    font-size: 20px;
    font-family: sans-serif;
    
}
p
{
	color:white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}
input[type=submit]
{
    font-size: 18px;
    outline: none;
    font-family: monospace;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    background-color: red;
    border: none;
    font-weight: bold;
    color: black;
    margin-top: 16px;
    box-shadow: 3px 3px 1px yellow;
    margin: 10 auto;
    position: absolute;
    left:190px;
}
label
{
	postion: absolute;
	left: 50%;
}
#log
{
	top:95px;
}
input[type=submit]:hover
{
	cursor: pointer;
    background-color: yellow;
    color: black;
}
.avatar23
{
   margin-top: 12px;
    margin-bottom: 5px;
}
.avatar23:hover 
{
    transform: rotate(45deg);
    transition-duration: 1s;
}
#settings
{
    position: absolute;
    top:10%;
    left: 92%;
   
}
#settings:hover .lefty
{
	display: block;
}
ul
{
	background color: antiquewhite;
    list-style-type: none;
}
ul li
{
    background-color: white;
    color: black;
    width: 80px;
    text-align: center;
    height: 65px;
    font-family: arial;
    font-weight: bold;
    border-color: black;
    border-radius: 4px;
    margin-bottom: 0px;
   
}
.lefty
{
    display: none;
    text-align: center;    
}
ul li ul li
{
    color: black;
    margin-top: 5px;
    height: 40px;
    padding-top: 20px;
    background-color: red;
    box-shadow: 3px 3px 1px yellow;
}
a
{
    text-decoration: none;
    color: black;
}
